
body {
    display: flex;
    max-width: 1440px;
    flex-direction: column;
    
}
.topline {
    display: flex;
    height: 72px;
    flex-direction: row;
    background-color: aqua;
    align-items: center;
    padding-left: 156px;
    padding-right: 156px;
    margin-top: 24px;
    margin-bottom: 24px;
}
.webstudio {
    margin-right: 76px;
}
.studio {
    margin-right: 40px;
    font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.32px;
}
.portfolio {
    margin-right: 40px;
    font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.32px;
}
.contacts {
    margin-right: 40px;
    font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.32px;
}
.email{
    margin-left: 332px;
    margin-right: 40px;
    font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.32px;
}

.hero-image {
    display: flex;
    background-color: rgba(46, 47, 66, 1);
    height: 600px;
    align-items: center;
    justify-content: center;

}

h1 {
    font-family: Roboto;
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: 1.12px;
        color: var(--white, #FFF);
            text-align: center;
        margin-top: 188px;
        margin-left: 472px;
        margin-right: 472px;
        margin-bottom: 292px;
}

h2 {
        color: var(--navyblue, #2E2F42);
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: 21px;
        letter-spacing: 0.54px;
        text-transform: uppercase;
}